{% extends "layout.html" %}
{% block content %}
  <h2>Airport Information</h2><br>

  <!-- Airport Information -->
  <table class="table-fitting">
    <tr>
      <td><a class="article-title">Airport Code:</a></td>
      <td><a class="article-title">{{ airport.id }}</a></td>
    </tr>
    <tr>
      <td><a class="article-title">Airport City:</a></td>
      <td><a class="article-title">{{ airport.city }}</a></td>
    </tr>
  </table><br>

  <!-- Button Options -->
  <table class="table-fitting">
    <tr>
      <th>
        <form action="/airports" method="GET">
          <input type="submit" value="Back"/>
        </form>
      </th>
      <th>
        <form action="/airports/{{airport.id}}/edit" method="GET">
          <input type="submit" value="Edit"/>
        </form>
      </th>
      <th>
        <form action="/airports/{{airport.id}}/delete" method="POST">
          <input type="submit" value="Delete"/>
        </form>
      </th>
    </tr>
  </table>
{% endblock content %}
